@media all and (max-width: 1235px){
  section.main h2{
      font-size: 3.5rem;
  }
  section.documentation .content-doc .right .card, section.documentation .content-doc2 .right .card{
    padding: 1.5rem 2.5rem;
  }
  section.installation .container h2{
    font-size: 2.25rem;
  }
  section.documentation .content-doc .left, section.documentation .content-doc2 .left{
    width: 67.5%;
  }
  section.documentation .content-doc .right, section.documentation .content-doc2 .right{
    width: 32.5%;
  }
  section.documentation .content-doc .left p, section.documentation .content-doc2 .left p, section.documentation .content-doc .right2 .content-texto p, section.documentation .content-doc2 .right2 .content-texto p{
    font-size: 0.9rem;
  }
  section.documentation .content-doc .right2 .content-texto h5, section.documentation .content-doc2 .right2 .content-texto h5{
    font-size: 1.1rem;
    margin-top: 0.9rem;
    margin-bottom: 0.5rem;
  }
  section.documentation .content-doc .right2 .content-texto span, section.documentation .content-doc2 .right2 .content-texto span{
    font-size: 0.85rem;
    margin: 0.75rem 0;
  }
  section.documentation .content-doc .left2 div, section.documentation .content-doc2 .left2 div{
    width: 90%;
  }
  section.documentation .content-doc .left p span.tag, section.documentation .content-doc2 .left p span.tag{
    font-size: 0.85rem;
  }
  section.installation .container .script{
    margin-top: 1.5rem;
  }
  section.installation .container .card{
    padding: 1.5rem 0.75rem;
  }
  section.installation .container .card .left h3, section.installation .container .card .rigth h3{
    font-size: 1.25rem;
  }
  section.main p{
      font-size: 0.9rem;
      margin: 0.4rem 0 0.75rem 0;
  }
  section.main .button{
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
  }
  section.main div.corner a i.fa-github-alt{
      font-size: 6.5rem;  
  }
  section.layouts .filters .botones-filtros h2{
      font-size: 1.75rem;
      margin-bottom: 1.4rem;
  }
  section.layouts{
      width: 92%;
  }
  section.layouts .filters{
      padding-left: 0.75rem;
      padding-right: 0.75rem;
  }
  section.layouts .container .muestra-de-layouts{
      width: 92%;
  }
  footer .barra-top .contenedor p{
      font-size: 1.1rem;
  }
  footer .barra-top .contenedor div a{
      font-size: 1.25rem;
  }
  footer .contenido-footer .container .firstcolumn h4, footer .contenido-footer .container .secondcolumn h4, footer .contenido-footer .container .thirdcolumn h4{
      font-size: 1.1rem;
  }
  footer .contenido-footer .container .firstcolumn p, footer .contenido-footer .container .thirdcolumn p, footer .contenido-footer .container .secondcolumn ul li a{
      font-size: 0.825rem;
  }
  footer .barra-bottom p{
      font-size: 0.85rem;
  }
}

@media all and (max-width: 1000px){
  section.layouts{
      flex-direction: column;
  }
  section.documentation .content-doc .right .card, section.documentation .content-doc2 .right .card{
    padding: 1.25rem;
    font-size: 0.9rem;
  }
  section.documentation .content-doc .left2 div, section.documentation .content-doc2 .left2 div{
    width: 97.5%;
  }
  section.documentation .barra-top .content h2{
    font-size: 1.4rem;
    letter-spacing: 0.075em;
  }
  section.documentation .content-doc, section.documentation .content-doc2{
    padding-top: 3rem;
  }
  section.documentation .content-doc .right2 .content-texto span, section.documentation .content-doc2 .right2 .content-texto span{
    font-size: 0.8rem;
    margin: 0.6rem 0;
  }
  section.documentation .content-doc .left p, section.documentation .content-doc2 .left p, section.documentation .content-doc .right2 .content-texto p, section.documentation .content-doc2 .right2 .content-texto p{
    font-size: 0.85rem;
  }
  section.documentation .content-doc .left span.css, section.documentation .content-doc2 .left span.css{
    font-size: 0.85rem;
    margin: 0.75rem 0;
  }
  section.layouts .filters{
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  section.layouts .filters .botones-filtros{
    display: flex;
    flex-direction: row;
  }
  section.layouts .filters .botones-filtros h2{
    display: none;
  }
  section.layouts .container .muestra-de-layouts{
    width: 100%;
  }
  section.main h2{
    font-size: 3rem;
  }
  section.main .modal-info a i.fas{
    font-size: 2rem;
    padding: 0.5rem;
  }
  section.main .modal-info{
    margin: 1rem;
  }
  section.main div.corner a i.fa-github-alt{
    font-size: 5.5rem;
  }
  section.installation .container .card .left ul li,section.installation .container .card .rigth p{
    font-size: 0.9rem;
  }
  section.installation .container .card{
    padding: 1.25rem 0;
  }
  section.installation .container .card .left, section.installation .container .card .rigth{
    padding: 0.75rem;
  }
}

@media all and (max-width:885px){
  section.documentation .content-doc .left span.css button, section.documentation .content-doc2 .left span.css button{
    padding: 0 0.95rem;
  }
  section.documentation .content-doc, section.documentation .content-doc2{
    padding-top: 2.5rem;
  }
  section.documentation .content-doc .left span.css button i.fa-copy, section.documentation .content-doc2 .left span.css button i.fa-copy{
    font-size: 1.2rem;
  }
  section.documentation .content-doc .left p, section.documentation .content-doc2 .left p, section.documentation .content-doc .right2 .content-texto p, section.documentation .content-doc2 .right2 .content-texto p{
    font-size: 0.8rem;
  }
  section.documentation .content-doc .left span.css, section.documentation .content-doc2 .left span.css{
    font-size: 0.8rem;
    margin: 0.6rem 0;
  }
  section.documentation .content-doc .left span.css input[type="text"], section.documentation .content-doc2 .left span.css input[type="text"]{
    font-size: 0.8rem;
  }
  section.documentation .content-doc .right .card, section.documentation .content-doc2 .right .card{
    padding: 1rem;
    font-size: 0.85rem;
  }
  section.documentation .content-doc .left, section.documentation .content-doc2 .left{
    width: 62.5%;
    padding-right: 1.25rem;
  }
  section.documentation .content-doc .right2, section.documentation .content-doc2 .right2{
    width: 72.5%;
  }
  section.documentation .content-doc .left2, section.documentation .content-doc2 .left2{
    width: 27.5%;
  }
  section.documentation .content-doc .right, section.documentation .content-doc2 .right{
    width: 37.5%;
  }
  section.documentation .content-doc .left p span.tag, section.documentation .content-doc2 .left p span.tag{
    font-size: 0.8rem;
  }
  section.documentation .content-doc .right2 .content-texto h5, section.documentation .content-doc2 .right2 .content-texto h5{
    font-size: 1.05rem;
    margin-top: 0.75rem;
  }
  section.documentation .content-doc .left2 div, section.documentation .content-doc2 .left2 div{
    width: 100%;
  }
  section.documentation .content-doc .right2 .content-texto span, section.documentation .content-doc2 .right2 .content-texto span{
    font-size: 0.75rem;
    margin: 0.5rem 0;
  }
  section.layouts{
    width: 95%;
  }
  section.main h2{
    font-size: 2.5rem;
  }
  section.main p{
    font-size: 0.85rem;
  }
  section.main .button .bg a i.fas{
    font-size: 1rem;
  }
  section.main div.corner{
    top: -15px;
  }
  section.main div.corner a i.fa-github-alt{
    font-size: 5rem;
  }
  section.layouts{
    margin: 2rem auto 6rem auto;
  }
}

@media all and (max-width:845px){
  section.layouts .container .muestra-de-layouts{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px 5px;
  }
  section.documentation .content-doc .left, section.documentation .content-doc2 .left{
    width: 60%;
  }
  section.documentation .content-doc .right, section.documentation .content-doc2 .right{
    width: 40%;
  }
  section.documentation .content-doc .left2, section.documentation .content-doc2 .left2{
    width: 30%;
  }
  section.documentation .content-doc .right2, section.documentation .content-doc2 .right2{
    width: 70%;
  }
  section.documentation .content-doc .right2 .content-texto, section.documentation .content-doc2 .right2 .content-texto{
    margin-left: 1.5rem;
  }
}

@media all and (max-width:780px){
  section.layouts .filters{
    width: 100%;
  }
  section.installation .container .card .left ul li,section.installation .container .card .rigth p{
    font-size: 0.85rem;
  }  
  section.installation .container .script{
    margin-top: 1.25rem;
  }
  section.documentation .content-doc .left span.css input[type="text"], section.documentation .content-doc2 .left span.css input[type="text"]{
    font-size: 0.75rem;
  }
  section.documentation .content-doc, section.documentation .content-doc2{
    padding-top: 2rem;
  }
}

@media all and (max-width:710px){
  section.documentation .content-doc{
    flex-direction: column;
  }
  section.documentation .content-doc .right2 .content-texto span, section.documentation .content-doc2 .right2 .content-texto span{
    display: inline;
    margin: 0.4rem 0.5rem 0.5rem 0;
  }
  section.documentation{
    padding-bottom: 2.5rem;
  }
  section.documentation .content-doc .right2, section.documentation .content-doc2 .right2{
    width: 100%;
  }
  section.documentation .content-doc .right2 .content-texto, section.documentation .content-doc2 .right2 .content-texto{
    margin-left: 0;
  }
  section.documentation .content-doc .left2, section.documentation .content-doc2 .left2{
    width: 35%;
  }
  section.documentation .content-doc2{
    flex-direction: column-reverse;
  }
  section.documentation .content-doc .left, section.documentation .content-doc2 .left{
    width: 100%;
    padding-right: 0;
  }
  section.documentation .content-doc .right, section.documentation .content-doc2 .right{
    width: 100%;
    margin: 0.75rem 0;
  }
  section.installation .container .card{
    display: block;
  }
  section.installation .container .card .left, section.installation .container .card .rigth{
    width: 100%;
  }
  section.main div.corner{
    right: 35px;
  }
  #cerrarModal{
    margin: 8px !important;
    width: 40px !important;
    height: 40px !important;
  }
  #iconoCerrar{
    font-size: 18px !important;   
  }
  #code{
    font-size: 14.5px !important;
  }
  #modal{
    padding: 16px !important;
    font-weight: 400 !important;
  }
  section.installation .container .script{
    margin-top: 0.85rem;
  }
  section.installation .container .card .left, section.installation .container .card .rigth{
    padding: 0;
  }
  section.installation .container{
    width: 85%;
  }
  section.installation .container h2{
    font-size: 2rem;
  }
  section.installation .container .card .left ul li,section.installation .container .card .rigth p{
    font-size: 0.8rem;
  }
  section.main .modal-info{
    margin: 0.75rem;
  }
  section.main h2{
    font-size: 2.1rem;
  }
  section.main p{
    font-size: 0.825rem;
    white-space: pre-wrap;
    width: 50%;
    text-align: center;
  }
  section.layouts .filters .botones-filtros button.button{
    font-size: 0.825rem;
  }
  footer .barra-top .contenedor p{
    font-size: 1rem;
  }
  footer .barra-top .contenedor div a{
    font-size: 1.15rem;
    margin: 0 0.25rem;
  }
  footer .contenido-footer .container .firstcolumn, footer .contenido-footer .container .secondcolumn, footer .contenido-footer .container .thirdcolumn{
    padding: 0 0.5rem;
  }
  footer .contenido-footer .container .firstcolumn{
    width: 100%;
    margin-bottom: 1rem;
  }
  footer .contenido-footer .container{
    flex-direction: column;
  }
  footer .contenido-footer .container .secondcolumn, footer .contenido-footer .container .thirdcolumn{
    width: 100%;
    margin-bottom: 1rem;
  }
  footer .contenido-footer{
    padding: 2.5rem 3rem;
  }
}

@media all and (max-width:590px){
  section.documentation .content-doc .left span.css button i.fa-copy, section.documentation .content-doc2 .left span.css button i.fa-copy{
    font-size: 0.95rem;
  }
  section.documentation .content-doc .left span.css button, section.documentation .content-doc2 .left span.css button{
    padding: 0 0.9rem;
  }
  section.documentation .content-doc .left p, section.documentation .content-doc2 .left p, section.documentation .content-doc .right2 .content-texto p, section.documentation .content-doc2 .right2 .content-texto p{
    font-size: 0.75rem;
  }
  section.documentation .barra-top .content h2{
    text-align: center;
  }
  footer .contenido-footer{
    padding: 2rem 2.75rem;
  }
  section.installation .container{
    width: 90%;
  }
  section.installation .container .script{
    margin-top: 0.5rem;
  }
  section.installation .container h2{
    font-size: 1.5rem;
  }
  section.main div.corner{
    right: 15px;
  }
  section.main p{
    width: 100%;
  }
  section.main h2{
    font-size: 2rem;
  }
  section.main .modal-info{
    margin: 0.5rem;
  }
  section.main .button{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  section.main{
    height: 45vh;
  }
}

@media all and (max-width:535px){
  section.layouts .filters{
    padding: 0;
  }
  footer .contenido-footer .container .firstcolumn, footer .contenido-footer .container .secondcolumn, footer .contenido-footer .container .thirdcolumn{
    padding: 0;
  }
  section.layouts{
    width: 96%;
  }
  footer .barra-top .contenedor{
    padding: 0.8rem 1.5rem;
  }
  footer .contenido-footer{
    padding: 1.75rem 1.75rem;
  }
  footer .barra-bottom p{
    font-size: 0.775rem;
  }
  section.documentation .content-doc .left p, section.documentation .content-doc2 .left p, section.documentation .content-doc .right2 .content-texto p, section.documentation .content-doc2 .right2 .content-texto p{
    margin-bottom: 0.5rem;
  }
  section.documentation .content-doc .right .card, section.documentation .content-doc2 .right .card{
    padding: 0.85rem;
    font-size: 0.8rem;
  }
  section.documentation .content-doc .left p span.tag, section.documentation .content-doc2 .left p span.tag{
    font-size: 0.75rem;
  }
  section.documentation .content-doc .right2 .content-texto span, section.documentation .content-doc2 .right2 .content-texto span{
    font-size: 0.7rem;
  }
  section.documentation .content-doc .left2, section.documentation .content-doc2 .left2{
    width: 37.5%;
    margin: 0.75rem 0;
  }
  section.documentation{
    padding-bottom: 2rem;
  }
  section.documentation .barra-top .content h2{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
  }
  section.layouts .container .muestra-de-layouts{
    grid-gap: 0px;
  }
  section.layouts .container .muestra-de-layouts img{
    width: 80%;
  }
  section.layouts .filters .botones-filtros button.button{
    width: 30% !important;
  }
  section.layouts .filters .botones-filtros{
    justify-content: center;
    align-items: center;
  }
  section.main div.corner a i.fa-github-alt{
    font-size: 4.5rem;
  }
  section.installation .cerrar a{
    margin: 1.25rem;
  }
}

@media all and (max-width:480px){
  section.installation .cerrar a{
    margin: 1rem;
  }
  section.documentation .content-doc .right2 .content-texto span, section.documentation .content-doc2 .right2 .content-texto span{
    display: block;
  }
  section.layouts .filters .botones-filtros button.button{
    width: 25% !important;
  }
  section.main div.corner a i.fa-github-alt{
    font-size: 3.75rem;
  }
  section.layouts .container .muestra-de-layouts img{
    width: 75%;
  }
  section.main div.corner{
    top: -11px;
  }
  #modal{
    padding: 8px !important;
    border-right: 7px solid rgb(52, 152, 219) !important;
  }
  #code{
    font-size: 13.75px !important;
  }
  section.installation .container .card .left ul li, section.installation .container .card .rigth p{
    font-size: 0.75rem;
  }
  section.installation .container .card .left h3, section.installation .container .card .rigth h3{
    font-size: 1.05rem;
  }
  section.installation .container .script input[type="text"]{
    font-size: 0.8rem;
    padding: 6px 0;
  }
  section.installation .container{
    width: 92.5%;
  }
  section.main .modal-info a i.fas{
    font-size: 1.75rem;
  }
  footer .barra-top .contenedor{
    padding: 0.8rem 1rem;
  }
  footer .contenido-footer{
    padding: 1.5rem 1.25rem;
  }
  section.main p{
    width: 80%;
  }
  section.installation .cerrar a i.fas{
    font-size: 1.25rem;
  }
  section.documentation .content-doc .left2, section.documentation .content-doc2 .left2{
    width: 52.5%;
    margin: 0.5rem 0;
  }
}

@media all and (max-width:340px){
  section.installation .cerrar a{
    margin: 0.5rem;
  }
  section.documentation .content-doc2{
    padding-top: 1rem;
  }
  section.documentation .content-doc{
    padding-top: 1.25rem;
  }
  section.documentation .content-doc .left2, section.documentation .content-doc2 .left2{
    width: 75%;
  }
  #code{
    font-size: 13px !important;
  }
  #modal{
    border: none !important;
    padding: 5px !important;
  }
  section.installation .cerrar a i.fas{
    font-size: 1.05rem;
  }
  section.main p{
    width: 75%;
  }
  section.installation .container{
    width: 95%;
  }
  section.main p{
    font-size: 0.8rem;
  }
  section.main div.corner a i.fa-github-alt{
    font-size: 3.5rem;
  }
  section.main .modal-info{
    margin: 0.25rem;
  }
  section.layouts{
    margin: 1rem auto 4rem auto;
  }
  section.main h2{
    font-size: 1.75rem;
  }
}

@media all and (max-width:300px){
  section.layouts .container .muestra-de-layouts{
    grid-template-columns: 100%;
  }
  section.main h2{
    font-size: 1.5rem;
  }
  section.documentation .content-doc .left2, section.documentation .content-doc2 .left2{
    width: 85%;
  }
  footer .barra-top .contenedor{
    padding: 0.8rem 0.5rem;
  }
  footer .contenido-footer{
    padding: 1rem 0.5rem;
  }
}




