@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fffffe;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
section.main{
    width: 100%;
    height: 50vh;
    // background: #3498db;
    background: url('../img/background.svg'),rgba($color: #3498db, $alpha: 1);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    h2{
        font-size: 3.75rem;
        text-transform: uppercase;
        line-height: 1;
        color: #fff;
        letter-spacing: 0.025em;
    }
    p{
        font-size: 1rem;
        color: rgba($color: #fff, $alpha: 0.8);
        font-weight: 400;
        margin: 0.5rem 0 0.9rem 0;
    }
    div{
        display: flex;
        margin-bottom: 0.3rem;
        i{
            margin: 0 1px;
            color: #fff;
            font-size: 1rem;
        }
    }
    div.corner{
        top: -20px;
        z-index: 999;
        right: 50px;
        transform: rotate(-180deg);
        position: absolute;
        transition: all .1s ease-in-out;
        &:hover{
            top: -18px;
            transform: rotate(-185deg);
        }        
        a{
            text-decoration: none;            
            color: #fff;
            i.fa-github-alt{
                color: #fff;
                font-size: 7rem;
                margin: 0 0.25rem;
            }
        }
    }
    .button{
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        border-radius: 50%;
        transform: translateX(-50%);
        .bg{
                width: 40px;
                animation: pulse 1.5s infinite;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                border-radius: 50%;
                background: rgba(255, 255, 255, .35);
            a{
                text-decoration: none;
                color: #fff;
                opacity: 0.9;
                i.fas{
                    opacity: 0.9;
                    color: #fff;
                    padding: 0.75rem;
                    font-size: 1.25rem;
                }
            }
        }
    }
    .modal-info{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        margin: 1.5rem;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        // background-color: #fff;
        a{
            color: #fff;
            display: inline-block;
            text-decoration: none;
            i.fas{
                font-size: 2.4rem;
                padding: 0.75rem;
                animation: rotate 10s infinite linear;
                transform-origin: center;
                transform-box: fill-box;
            }
        }
    }
}

@keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes pulse{
    0%{
      box-shadow: 0 0 0 0 rgba(255, 255, 255, .75);
    }
    50%{
      box-shadow: 0 0 0 10px rgba(255, 255, 255, .0);
    }
    100%{
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

section.installation{
    background-color: #fffffe;
    position: fixed;
    transition: all .5s ease-in-out;
    top: 0;
    opacity: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    .cerrar{
        position: absolute;
        top: 0;
        left: 0;
        a{
            margin: 1.5rem;
            display: inline-block;
            text-decoration: none;
            color: #3498db;
            i.fas{
                font-size: 1.5rem;
                padding: 0.75rem;
            }
        }
    }
    .container{
        width: 80%;
        margin: 0 auto;
        h2{
            text-align: center;
            color: #3498db;
            font-size: 2.5rem;
        }
        .script{
            width: 100%;
            background: #dfe6e9;
            padding: 0.5rem 1rem;
            margin-top: 2rem;
            position: relative;
            input[type="text"]{
                width: 100%;
                background: none;
                border: none;
                font-size: 0.85rem;
                padding: 7px 0;
                outline: none;
            }
            button{
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                padding: 0 1rem;
                cursor: pointer;
                background: none;
                border: none;
                &:hover{
                    i.far{
                        color: #3498db;
                    }
                }
                i.far{
                    font-size: 1.35rem;
                    cursor: pointer;
                    color: rgba($color: #3498db, $alpha: 0.35);
                }
            }
        }
        .card{
            padding: 1.75rem 1rem;
            display: flex;
            width: 100%;
            .left{
                width: 50%;
                h3{
                    font-size: 1.5rem;
                }
                ul{
                    list-style: none;
                    li{
                        margin-top: 0.65rem;
                        margin-bottom: 0.65rem;
                    }
                }
            }
            .rigth{
                width: 50%;
                h3{
                    font-size: 1.5rem;
                }
                p{
                    margin: 0.75rem 0;
                }
            }
        }
    }
}

section.layouts{
    width: 90%;
    margin: 3rem auto 7rem auto;
    display: flex;
    .filters{
        width: 20%;
        position: sticky;
        top: 0;
        .botones-filtros{
            width: 100%;
            position: sticky;
            top: 0;
            margin-top: 1.5rem;
            padding-top: 1.5rem;
            display: flex;
            flex-direction: column;
            h2{
                font-size: 2rem;
                letter-spacing: 1px;
                color: #696969;
                margin-bottom: 1.5rem;
            }
            button.button{
                display: inline-block;
                border-radius: 3px;
                width: 100%;
                background: none;
                color: #222;
                font-size: 0.9rem;
                text-align: center;
                padding: 10px 2px;
                margin-bottom: 1rem;
                border: none;
                outline: none;
                cursor: pointer;
                transform: scale(1);
                transition: all .3s ease-in-out;
                &:active{
                    transform: scale(0.95); 
                }
                &.active{
                    background-color: #3498db;
                    color: #fff;
                }
            }
        }
    }
    .container{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .muestra-de-layouts{
            display: grid;
            width: 98%;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: auto;
            grid-gap: 10px 20px;
            align-items: center;
            img{
                margin: auto;
                cursor: pointer;
            }
        }
    }
}
footer{
    bottom: 0;
    width: 100%;
    .barra-top{
        background-color: #3498db;
        color: #fff;
        width: 100%;
        .contenedor{
            width: 95%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2.5rem;
            p{
                font-size: 1.2rem;
                font-weight: 400;
            }
            div{
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.5rem;
                    margin: 0 0.5rem;
                }
            }
        }
    }
    .contenido-footer{
        width: 100%;
        padding: 3rem 1.5rem;
        background-color: #ecf0f1;
        .container{
            width: 95%;
            margin: 0 auto;
            display: flex;
            color: #222;
            justify-content: space-around;
            .firstcolumn{
                width: 33.3333%;
                padding: 0 1.25rem;
                h4{
                    font-size: 1.25rem;
                    position: relative;
                    padding-bottom: 0.25rem;
                    margin-bottom: 1rem;
                    &::before{
                        position: absolute;
                        content: '';
                        border-radius: 50px;
                        bottom: 0;
                        left: 0;
                        width: 50%;
                        background: #3498db;
                        height: 0.25rem;
                    }
                }
                p{
                    font-size: 0.9rem;
                }
            }
            .secondcolumn{
                width: 33.3333%;
                padding: 0 1.25rem;
                h4{
                    font-size: 1.25rem;
                    position: relative;
                    padding-bottom: 0.25rem;
                    margin-bottom: 0.9rem;
                    &::before{
                        position: absolute;
                        content: '';
                        border-radius: 50px;
                        bottom: 0;
                        left: 0;
                        width: 50%;
                        background: #3498db;
                        height: 0.25rem;
                    }
                }
                ul{
                    list-style: none;
                    li{
                        a{
                            color: #222;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
            .thirdcolumn{
                width: 33.3333%;
                padding: 0 1.25rem;
                h4{
                    font-size: 1.25rem;
                    position: relative;
                    padding-bottom: 0.25rem;
                    margin-bottom: 1rem;
                    &::before{
                        position: absolute;
                        content: '';
                        border-radius: 50px;
                        bottom: 0;
                        left: 0;
                        width: 50%;
                        background: #3498db;
                        height: 0.25rem;
                    }
                }
                p{
                    font-size: 0.9rem;
                }
            }
        }
    }
    .barra-bottom{
        bottom: 0;
        width: 100%;
        padding: 0.5rem 0;
        background-color: #bdc3c7;
        p{
            text-align: center;
            color: darken($color: #fff, $amount: 1);
            font-size: 0.9rem;
        }
    }
}
