@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fffffe;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

section.main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.main h2 {
  font-size: 3.75rem;
  text-transform: uppercase;
  line-height: 1;
  color: #3498db;
  letter-spacing: 0.025em;
}

section.main p {
  font-size: 1rem;
  color: #696969;
  font-weight: 400;
  margin: 0.9rem 0;
}

section.main div.corner {
  top: 0;
  z-index: 999;
  right: 50px;
  position: absolute;
  background-color: #000;
  padding: 1.25rem 1rem 0.5rem 1rem;
}

section.main div.corner a {
  text-decoration: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

section.main div.corner a i.fab {
  color: #fff;
  font-size: 2rem;
  margin: 0 0.25rem;
}

section.main .button {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.main .button .bg {
  width: 50px;
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  border-radius: 50%;
  background: #000;
}

section.main .button .bg a {
  text-decoration: none;
  color: #fff;
}

section.main .button .bg a i.fas {
  color: #fff;
  padding: 0.75rem;
  font-size: 1.25rem;
}

section.main .modal-info {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin: 1.5rem;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #333;
  -webkit-box-shadow: -1px 1px 2px #333;
          box-shadow: -1px 1px 2px #333;
}

section.main .modal-info a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

section.main .modal-info a i.fas {
  font-size: 1.25rem;
  padding: 0.75rem;
}

section.main div svg {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1000;
  opacity: 0.2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  50% {
    -webkit-box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  50% {
    -webkit-box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

section.installation {
  background-color: #fffffe;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  top: 0;
  opacity: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.installation .cerrar {
  position: absolute;
  top: 0;
  left: 0;
}

section.installation .cerrar a {
  margin: 1.5rem;
  display: inline-block;
  text-decoration: none;
  color: #3498db;
}

section.installation .cerrar a i.fas {
  font-size: 1.5rem;
  padding: 0.75rem;
}

section.installation .container {
  width: 80%;
  margin: 0 auto;
}

section.installation .container h2 {
  text-align: center;
  color: #3498db;
  font-size: 2.5rem;
}

section.installation .container .script {
  width: 100%;
  background: #dfe6e9;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  position: relative;
}

section.installation .container .script input[type="text"] {
  width: 100%;
  background: none;
  border: none;
  font-size: 0.85rem;
  padding: 7px 0;
  outline: none;
}

section.installation .container .script button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
  background: none;
  border: none;
}

section.installation .container .script button:hover i.far {
  color: #3498db;
}

section.installation .container .script button i.far {
  font-size: 1.35rem;
  cursor: pointer;
  color: rgba(52, 152, 219, 0.35);
}

section.installation .container .card {
  padding: 1.75rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

section.installation .container .card .left {
  width: 50%;
}

section.installation .container .card .left h3 {
  font-size: 1.5rem;
}

section.installation .container .card .left ul {
  list-style: none;
}

section.installation .container .card .left ul li {
  margin-top: 0.65rem;
  margin-bottom: 0.65rem;
}

section.installation .container .card .rigth {
  width: 50%;
}

section.installation .container .card .rigth h3 {
  font-size: 1.5rem;
}

section.installation .container .card .rigth p {
  margin: 0.75rem 0;
}

section.layouts {
  width: 100%;
  margin: 4rem 0;
}

section.layouts h2 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: #3498db;
}

section.layouts .container {
  width: 70%;
  margin: 0 auto;
}

section.layouts .container .muestra-de-layouts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.layouts .container .muestra-de-layouts img {
  display: block;
  margin: auto;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */