@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fffffe;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

section.main {
  width: 100%;
  height: 50vh;
  background: url("../img/background.svg"), #3498db;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.main h2 {
  font-size: 3.75rem;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.025em;
}

section.main p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  margin: 0.5rem 0 0.9rem 0;
}

section.main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.3rem;
}

section.main div i {
  margin: 0 1px;
  color: #fff;
  font-size: 1rem;
}

section.main div.corner {
  top: -20px;
  z-index: 49;
  right: 50px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  position: absolute;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

section.main div.corner:hover {
  top: -18px;
  -webkit-transform: rotate(-185deg);
          transform: rotate(-185deg);
}

section.main div.corner a {
  text-decoration: none;
  color: #fff;
}

section.main div.corner a i.fa-github-alt {
  color: #fff;
  font-size: 7rem;
  margin: 0 0.25rem;
}

section.main .button {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.main .button .bg {
  width: 40px;
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.35);
}

section.main .button .bg a {
  text-decoration: none;
  color: #fff;
  opacity: 0.9;
}

section.main .button .bg a i.fas {
  opacity: 0.9;
  color: #fff;
  padding: 0.75rem;
  font-size: 1.25rem;
}

section.main .modal-info {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin: 1.5rem;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

section.main .modal-info a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

section.main .modal-info a i.fas {
  font-size: 2.4rem;
  padding: 0.75rem;
  -webkit-animation: rotate 10s infinite linear;
          animation: rotate 10s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

section.documentation {
  background: #ecf0f1;
  padding-bottom: 3.5rem;
}

section.documentation .barra-top {
  background-color: #bdc3c7;
  z-index: -5;
  padding: 10px 0;
}

section.documentation .barra-top .content {
  width: 90%;
  margin: 0 auto;
}

section.documentation .barra-top .content h2 {
  color: #fcfcfc;
  text-transform: capitalize;
  letter-spacing: 0.1em;
}

section.documentation .content-doc, section.documentation .content-doc2 {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.5rem;
}

section.documentation .content-doc .left, section.documentation .content-doc2 .left {
  width: 70%;
  padding-right: 2rem;
}

section.documentation .content-doc .left span.css, section.documentation .content-doc2 .left span.css {
  margin: 1rem 0;
  display: block;
  width: 100%;
  background-color: #444;
  padding: 0.5rem;
  border-radius: 3px;
  position: relative;
}

section.documentation .content-doc .left span.css input[type="text"], section.documentation .content-doc2 .left span.css input[type="text"] {
  background: none;
  border: none;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Poppins', sans-serif;
  width: 100%;
  outline: none !important;
  pointer-events: none;
}

section.documentation .content-doc .left span.css button, section.documentation .content-doc2 .left span.css button {
  position: absolute;
  right: 0;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #444;
  border: none;
  height: 90%;
  padding: 0;
  z-index: 42;
  padding: 0 1rem;
  outline: none;
  -webkit-animation: all .3s ease-in-out;
          animation: all .3s ease-in-out;
  cursor: pointer;
  text-align: center;
}

section.documentation .content-doc .left span.css button i.fa-copy, section.documentation .content-doc2 .left span.css button i.fa-copy {
  font-size: 1.5rem;
  color: rgba(52, 152, 219, 0.75);
}

section.documentation .content-doc .left span.css button:active i.fa-copy, section.documentation .content-doc2 .left span.css button:active i.fa-copy {
  font-size: 1.45rem;
}

section.documentation .content-doc .left p, section.documentation .content-doc2 .left p {
  font-size: 0.95rem;
  color: #646464;
  margin-bottom: 0.75rem;
}

section.documentation .content-doc .left p span.tag, section.documentation .content-doc2 .left p span.tag {
  background: #fafafa;
  padding: 0px 3px;
  border-radius: 3px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #151515;
}

section.documentation .content-doc .right, section.documentation .content-doc2 .right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.documentation .content-doc .right .card, section.documentation .content-doc2 .right .card {
  background-color: #444;
  padding: 1.5rem 3.5rem;
  pointer-events: none;
  border-radius: 3px;
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

section.documentation .content-doc .right .card .code, section.documentation .content-doc2 .right .card .code {
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

section.documentation .content-doc .right .card .code pre, section.documentation .content-doc2 .right .card .code pre {
  font-family: 'Times New Roman', Times, serif;
}

section.documentation .content-doc .left2, section.documentation .content-doc2 .left2 {
  width: 25%;
}

section.documentation .content-doc .left2 div, section.documentation .content-doc2 .left2 div {
  width: 87.5%;
  margin: 0 auto;
}

section.documentation .content-doc .left2 div svg, section.documentation .content-doc2 .left2 div svg {
  width: 100%;
}

section.documentation .content-doc .right2, section.documentation .content-doc2 .right2 {
  width: 75%;
}

section.documentation .content-doc .right2 .content-texto, section.documentation .content-doc2 .right2 .content-texto {
  margin-left: 2rem;
}

section.documentation .content-doc .right2 .content-texto p, section.documentation .content-doc2 .right2 .content-texto p {
  font-size: 0.95rem;
  color: #646464;
  margin-bottom: 0.75rem;
}

section.documentation .content-doc .right2 .content-texto h5, section.documentation .content-doc2 .right2 .content-texto h5 {
  margin-top: 1rem;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

section.documentation .content-doc .right2 .content-texto span, section.documentation .content-doc2 .right2 .content-texto span {
  display: block;
  margin: 1rem 0;
  pointer-events: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #444;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.85);
}

section.installation {
  background-color: #fffffe;
  position: fixed;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  top: 0;
  opacity: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.installation .cerrar {
  position: absolute;
  top: 0;
  left: 0;
}

section.installation .cerrar a {
  margin: 1.5rem;
  display: inline-block;
  text-decoration: none;
  color: #3498db;
}

section.installation .cerrar a i.fas {
  font-size: 1.5rem;
  padding: 0.75rem;
}

section.installation .container {
  width: 80%;
  margin: 0 auto;
}

section.installation .container h2 {
  text-align: center;
  color: #3498db;
  font-size: 2.5rem;
}

section.installation .container .script {
  width: 100%;
  background: #dfe6e9;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  position: relative;
}

section.installation .container .script input[type="text"] {
  width: 96%;
  overflow: hidden;
  background: none;
  border: none;
  font-size: 0.85rem;
  padding: 7px 0;
  outline: none;
}

section.installation .container .script button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
  background: none;
  border: none;
}

section.installation .container .script button:hover i.far {
  color: #3498db;
}

section.installation .container .script button i.far {
  font-size: 1.35rem;
  cursor: pointer;
  color: rgba(52, 152, 219, 0.35);
}

section.installation .container .card {
  padding: 1.75rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

section.installation .container .card .left {
  width: 50%;
}

section.installation .container .card .left h3 {
  font-size: 1.5rem;
}

section.installation .container .card .left ul {
  list-style: none;
}

section.installation .container .card .left ul li {
  margin-top: 0.65rem;
  margin-bottom: 0.65rem;
}

section.installation .container .card .rigth {
  width: 50%;
}

section.installation .container .card .rigth h3 {
  font-size: 1.5rem;
}

section.installation .container .card .rigth p {
  margin: 0.75rem 0;
}

section.layouts {
  width: 90%;
  margin: 3rem auto 7rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.layouts .filters {
  width: 20%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

section.layouts .filters .botones-filtros {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.layouts .filters .botones-filtros h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #696969;
  margin-bottom: 1.5rem;
}

section.layouts .filters .botones-filtros button.button {
  display: inline-block;
  border-radius: 3px;
  width: 100%;
  background: none;
  color: #222;
  font-size: 0.9rem;
  text-align: center;
  padding: 10px 2px;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

section.layouts .filters .botones-filtros button.button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

section.layouts .filters .botones-filtros button.button.active {
  background-color: #3498db;
  color: #fff;
}

section.layouts .container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.layouts .container .muestra-de-layouts {
  display: -ms-grid;
  display: grid;
  width: 98%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.layouts .container .muestra-de-layouts img {
  margin: auto;
  cursor: pointer;
}

footer {
  bottom: 0;
  width: 100%;
}

footer .barra-top {
  background-color: #3498db;
  color: #fff;
  width: 100%;
}

footer .barra-top .contenedor {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2.5rem;
}

footer .barra-top .contenedor p {
  font-size: 1.2rem;
  font-weight: 400;
}

footer .barra-top .contenedor div a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

footer .contenido-footer {
  width: 100%;
  padding: 3rem 1.5rem;
  background-color: #ecf0f1;
}

footer .contenido-footer .container {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #222;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .contenido-footer .container .firstcolumn {
  width: 33.3333%;
  padding: 0 1.25rem;
}

footer .contenido-footer .container .firstcolumn h4 {
  font-size: 1.25rem;
  position: relative;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
}

footer .contenido-footer .container .firstcolumn h4::before {
  position: absolute;
  content: '';
  border-radius: 50px;
  bottom: 0;
  left: 0;
  width: 50%;
  background: #3498db;
  height: 0.25rem;
}

footer .contenido-footer .container .firstcolumn p {
  font-size: 0.9rem;
}

footer .contenido-footer .container .secondcolumn {
  width: 33.3333%;
  padding: 0 1.25rem;
}

footer .contenido-footer .container .secondcolumn h4 {
  font-size: 1.25rem;
  position: relative;
  padding-bottom: 0.25rem;
  margin-bottom: 0.9rem;
}

footer .contenido-footer .container .secondcolumn h4::before {
  position: absolute;
  content: '';
  border-radius: 50px;
  bottom: 0;
  left: 0;
  width: 50%;
  background: #3498db;
  height: 0.25rem;
}

footer .contenido-footer .container .secondcolumn ul {
  list-style: none;
}

footer .contenido-footer .container .secondcolumn ul li a {
  color: #222;
  font-size: 0.9rem;
}

footer .contenido-footer .container .thirdcolumn {
  width: 33.3333%;
  padding: 0 1.25rem;
}

footer .contenido-footer .container .thirdcolumn h4 {
  font-size: 1.25rem;
  position: relative;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
}

footer .contenido-footer .container .thirdcolumn h4::before {
  position: absolute;
  content: '';
  border-radius: 50px;
  bottom: 0;
  left: 0;
  width: 50%;
  background: #3498db;
  height: 0.25rem;
}

footer .contenido-footer .container .thirdcolumn p {
  font-size: 0.9rem;
}

footer .barra-bottom {
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #bdc3c7;
}

footer .barra-bottom p {
  text-align: center;
  color: #fcfcfc;
  font-size: 0.9rem;
}

@media all and (max-width: 885px) {
  section.documentation .content-doc .left span.css button, section.documentation .content-doc2 .left span.css button {
    height: 100%;
  }
  section.documentation .content-doc .left span.css button:active i.fa-copy, section.documentation .content-doc2 .left span.css button:active i.fa-copy {
    font-size: 1.05rem;
  }
}

@media all and (max-width: 590px) {
  section.documentation .content-doc .left span.css button, section.documentation .content-doc2 .left span.css button {
    height: 100%;
  }
  section.documentation .content-doc .left span.css button:active i.fa-copy, section.documentation .content-doc2 .left span.css button:active i.fa-copy {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=main.css.map */